doctype html
html
	head
	body		
		for i=0; i<name.length, i++
			if #{input}===users[i].firstname
				p Name: #{user[i].firstname}
				p Lastname: #{user[i].lastname}
				p Email: #{user[i].email}
			else if #{input}===users[i].lastname
				p Name: #{user[i].firstname}
				p Lastname: #{user[i].lastname}
				p Email: #{user[i].email}
			else
				p No match found.